.header {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.loading {
    position: absolute;
    left: 50%;
    top: 45%;
    margin: -80px 0 0 -80px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 10px solid #19bee1;
}

.loading::after {
    content: '';
    background: transparent;
    width: 140%;
    height: 140%;
    position: absolute;
    border-radius: 100%;
    top: -20%;
    left: -20%;
    opacity: 0.7;
    animation: rotate 2s infinite linear;
    box-shadow: 0 5px 0 0 #1299b7;
}

.loadingText {
    text-align: center;
    margin-top: 56px;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
