.notification {
    height: auto;
    transition: height 0.35s ease-in-out;
}

.p {
    font-size: 0.5rem;
    color: white;
    margin-top: 5px;
}

.notificationTitle {
    font-size: 1rem;
    color: white;
}

.notificationText {
    font-size: 0.8rem;
    color: white;
    font-weight: lighter;
    margin-top: 5px;
}

.hr {
    color: white;
    background-color: white;
    height: 1px;
    border-width: 0.5px;
    border: none;
}
